.container {
	.search-wrapper {
		display: flex;
		align-items: center;
		padding-bottom: 15px;
	}
	.pokemons-wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	.pokemons-wrapper div {
		width: 300px;
		margin: auto;
	}
	.paginator-wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}
	.filter__options {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 15px;
		button {
			display: flex;
			width: 55px;
			height: 30px;
			justify-content: center;
			align-items: center;
		}
		.is-active {
			background-color: coral;
		}
	}
}
