.container {
	margin-top: 0.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
app-pokemon-image-card {
	display: flex;
	justify-content: flex-end;
	margin-right: 15px;
	margin-bottom: 15px;
}
app-pokemon-details-card {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 15px;
	margin-right: 15px;
}
