.pokemon-container {
	position: relative;
	max-width: 450px;
	margin: auto;
	padding: 0;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
}
.pokemon-container .pokemon-img-container {
	display: flex;
	height: 200px;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	border-radius: 5px 5px 0 0;
	padding: 0 5px;
	img {
		margin-top: 70px;
		margin-left: 15px;
		height: 18rem;
		width: 18rem;
	}
}
.pokemon-container .pokemon-data-container {
	display: flex;
	flex-direction: column;
	height: 90px;
	padding: 10px;
	margin-top: 55px;
	font-weight: 500;
	justify-content: space-evenly;
	.pokemon-label-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.pokemon-label-container .name {
		font-size: 1.4rem;
		margin: auto 10px;
	}
	.pokemon-label-container .id {
		font-size: 1.2rem;
		padding: 0;
		color: grey;
		height: 30px;
		margin-top: 7px;
		margin-right: 9px;
		padding-top: 6px;
	}
	.pokemon-type-container {
		display: flex;
		flex-direction: row;
		height: 40px;
		margin-top: 5px;
	}
	.pokemon-type-container .box {
		width: 100%;
		text-align: center;
		border-radius: 5px;
		margin: 0 2px;
		font-size: 1.1rem;
		color: white;
		padding: 2px;
		display: flex;
		span {
			margin: auto;
		}
	}
}
